<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>

    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core"/>

    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>

    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.0.111" port="11211"/>
      </servers>
    </memcached>
  </enyim.com>

  <cacheManager>
    <managers>
      <cache name="cache">
        <handle name="enyim.com/memcached" ref="memcache"/>
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memcache" type="CacheManager.Memcached.MemcachedCacheHandle`1, CacheManager.Memcached" defaultExpirationMode="Sliding" defaultTimeout="3m"/>
    </cacheHandles>
  </cacheManager>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="SharpNode" providerName="MySQL Data Provider" connectionString="server=ServerInfoStorage;"/>
  </connectionStrings>

  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="ServerInfoStorage" retryTime="5">
          <Servers>
            <Server name="master1" IsMaster="true" connectionstring="server=192.168.0.79;port=3353;uid=root;pwd=1234;database=db_sharp_node;"/>
            <Server name="master2" IsMaster="true" connectionstring="server=192.168.0.79;port=3354;uid=root;pwd=1234;database=db_sharp_node;"/>
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>

  <appSettings>

	<add key="OutgoingHttpConnectionLimit" value="1000"/>
	<add key="DefaultRemoteCallTimeout" value="20000"/>
	<add key="ExtraStartServiceSeconds" value="2"/>
	<add key="ExtraStopServiceSeconds" value="2"/>

	<add key="MuteVarName" value="SimpleSharpServer"/>
	<add key="ServiceName" value="SimpleSharpServer"/>
	<add key="ServiceDescription" value="SimpleSharpServer"/>

	<add key="AppServerSetting" value="{
         
			'ServerInfoStorage': '',

			'ServerNodeSettings':
			[
			{
				'NodeName': 'server1',
				'GroupName': 'server',

				'InternalServerSetting': {
					'WorkIp': '192.168.0.79',
					'WorkPort': 9991,
					'WorkProtocol': 'simple-http'
				},
				'PublicServerSetting': {
					'WorkIp': '192.168.0.79',
					'WorkPort': 9992,
					'WorkProtocol': 'simple-http',
					'AccessUrl': 'http://192.168.0.79:9992',
					'AllowOrigin': '*',
					'AllowParentPath': true,
					'IsDefaultMultithreading': true
				},

				'Services': 'MySharpServer.FrameworkService.dll'

			}
			]
                                
	}"/>

  </appSettings>
  
</configuration>
